<nav class="nav bg-dark border-bottom border-bottom-dark text-white">
    <a class="nav-link active " aria-current="page" href="/comment/all">Home</a>
    <a class="nav-link justify-content-end" href="/user/form">Signin</a>
    <a class="nav-link" href="/comment/new/form">CommentForm</a>
     <a href="" class=" nav nav-link justify-content-end"> Signup</a>
  </nav>
  