<%- include('partials/header.ejs') -%>
<body>
    <%- include('partials/navbar.ejs') -%>
    <div id="alert" class="container">
        <% if(message!=""){ %>
            <h5  class="alert alert-danger">
                <%= message %>
            </h5>
            <%}%>
 </div>
    
    <div class="container mt-3">
        <h2>Register</h2>
        <form action="/user/register" method="post">
            <div class="mb-3 mt-3">
                <label for="firstName" >firstName:</label>
              <input type="text" class="form-control" name="firstName" id="firstName" required> 
            </div>
            <div class="mb-3 mt-3">
                <label for="lastName" >lastName:</label>
              <input type="text" class="form-control" name="lastName" id="lastName" required>
            </div>

            <div class="mb-3 mt-3">
                <label for="email">Email:</label>
                <input type="email" pattern="[^0-9]+[a-zA-Z0-9]+@[a-z0-9]+\.[a-zA-Z]{2,4}"
                    data-error="Email must start with a letter from input" class="form-control" id="email"
                    placeholder="Enter email" name="email">
            </div>
            <div class="mb-3">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                    name="password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    
</body>
</html>